In [1]:
import pandas as pd

In [2]:
data=pd.read_excel('anova_class_example_data.xlsx', sheet_name='data_collected')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Display_design             20 non-null     int64
 1   Percent_increase_in_sales  20 non-null     int64
dtypes: int64(2)
memory usage: 448.0 bytes

In [6]:
data['Display_design'].unique()

array([1, 2, 3, 4])

In [3]:
data.head()

   Display_design  Percent_increase_in_sales
0               1                        575
1               2                        565
2               3                        600
3               4                        725
4               1                        542

In [7]:
import statsmodels.api as sm 
from statsmodels.formula.api import ols

In [8]:
model=ols('Percent_increase_in_sales ~ C(Display_design)', data=data).fit()

In [9]:
results_table=sm.stats.anova_lm(model)

In [10]:
results_table

                     df    sum_sq       mean_sq          F        PR(>F)
C(Display_design)   3.0  66870.55  22290.183333  66.797073  2.882866e-09
Residual           16.0   5339.20    333.700000        NaN           NaN

In [ ]:
# yes there is a statistically significance - next step would be figure out which one